.illustration__navigation {
	position: absolute;
	bottom: 29px;
	left: calc((100% - 71px) / 2);
  display: flex;
  gap: 12px;
  width: 72px;
  height: 12px;
  align-items: center;
}

@media screen and (max-width: 1023px) {
	.illustration__navigation {
		bottom: 20px;
	}
}