.reservation__box {
  max-width: 1200px;
  margin: 88px auto 80px;
  display: flex;
  column-gap: 24px;
}

@media screen and (max-width: 1223px) {
  .reservation__box {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .reservation__box {
    flex-direction: column;
    row-gap: 50px;
		margin: 50px auto 40px;
  }
}