.intro__column {
	display: block;
	width: 100%;
}

.intro__column:nth-child(2) {
	margin: 81px 0 16px;
}

@media screen and (max-width: 588px) {
	.intro__column:nth-child(2) {
		margin: 95px 0 16px;
	}
}

@media screen and (max-width: 450px) {
	.intro__column:nth-child(2) {
		margin: 51px 0 16px;
	}
}