.cards__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: calc(14px + 10 * (100vw / 1440));
	line-height: 150%;
	color: #000000;
	margin: 32px 0 0;
}

/*@media screen and (max-width: 1279px) {
	.cards__title {
		margin: 0;
	}
}*/

@media screen and (max-width: 1023px) {
	.cards__title{
		font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1440));
		/*margin: 0;*/
	}
}